<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
        <% if !@user.microposts.empty? %>
          <table class="microposts">
            <%= render @microposts %>
          </table>
          <%= will_paginate @microposts %>
        <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br/>
      <strong>Email</strong> <%= @user.email %><br/>
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br/>
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <% if current_user == @user %>
        <%= link_to 'Edit My Info', edit_user_path(@user) %>
      <% end %>
    </td>
  </tr>
</table>
